token.txt
test.py
DiscordToken.py
__pycache__
data.json
config.json
history.json
chat_history.db
convertSQL.py
chat_history.csv
cache
I_Will_Touch_the_Sky.flac
mixkit-censorship-beep-1082.wav
ytb.json