token.txt
test.py
DiscordToken.py
__pycache__
data.json
config.json
history.json
chat_history.db
convertSQL.py
chat_history.csv
cache
ytb.json
tts.mp3
channel.csv
dm.csv
guild.csv
discord.log
channel_settings.csv
message.csv